<h3>가맹점 즐겨찾기</h3>

<form class="search" method="post">
  <div class="s-contents s-content1">
    <label for="user_nm">회원</label>
    <input type="text" name="user_id" id="user_id">
    <input type="text" name="user_no" id="user_no" style="display: none;">
    <input type="text" name="user_nm" id="user_nm" disabled="disabled">
    <button type="button" class="popSearch" id="searchUser" data-checked=true>검색</button>
  </div><br>

  <div class="s-contents s-content1">
    <label for="mcht_nm">가맹점</label>
    <input type="text" name="mcht_no" id="mcht_no">
    <input type="text" name="mcht_nm" id="mcht_nm" disabled="disabled">
    <button type="button" class="popSearch" id="searchMcht" data-checked=true>검색</button>
  </div>
</form>

<div class="">
  <button id="searchList" type="button">조회</button>
  <button id="excelDownload" type="button">엑셀</button>
</div>

<table class="r-table">
  <colgroup>
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
  </colgroup>
  <thead>
    <tr>
      <th id="th_rnum" scope="col">No.</th>
      <th id="th_user_no" scope="col">회원번호</th>
      <th id="th_user_id" scope="col">ID</th>
      <th id="th_user_nm" scope="col">회원명</th>
      <th id="th_mcth_no" scope="col">가맹점번호</th>
      <th id="th_mcht_nm_ko" scope="col">가맹점명</th>
      <th id="th_pay_mcht_rate" scope="col">가맹점배분율</th>
      <th id="th_agent_rate" scope="col">Agency<br>배분율</th>
      <th id="th_fee_rate" scope="col">수수료<br>배분율</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
