<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% include ./include/_head.ejs %>
</head>
<body>

  <button id="logout">logout</button>

<script>
  $('#logout').on('click', function(){
    $.post('/l/logout', function(data){
      if(data === '200') location.reload()
    })
  })
</script>
</body>
</html>
