<html lang="en">
<head>
  <% include ./include/_head.ejs %>
</head>
<body>
  <div class="backdrop"></div>
  <div class="popWindow"></div>

  <% include ./include/_header.ejs %>
  <% include ./include/_nav.ejs %>
  <table><tr><td>
    <div id="container">
        <%- include(page) %>
    </div>
  </td></tr></table>
  <% include ./include/_footer.ejs %>
</body>
</html>
