html, body {margin: 0; padding: 0; color: #333; background-color: #fefefe;}

header {}
nav {position: absolute; width: 15em; height: 100%; border-right: 1px solid #444; background-color: #fafafa;}
#container {margin-top: 2em; margin-left: 16em; min-width: 1200px;}
footer {position: absolute; bottom: 0;}
button {font-weight: bold; background-color: #fff; border: 1px solid #999; border-radius: 2px;}
button:hover {cursor: pointer; background-color: #cdcdcd; color: #fcfcfc;}
input {padding-left: 5px;}
